/* common */
*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.App {
    text-align: center;
}

div,
p {
    padding: 10px;
}

li {
    list-style: none;
}

button {
    cursor: pointer;
}

/* phonebook app */
.persons {
    display: flex;
    justify-content: center;
    align-items: center;
}

.delete {
    padding: 5px;
    border-radius: 5px;
}
.delete:hover {
    background-color: red;
    color: white;
}
.delete:active {
    transform: scale(1.1);
}

/* flags app */
.country-element {
    display: flex;
    justify-content: center;
    align-items: center;
}

.flag {
    border: 1px solid black;
}
