*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.App {
    text-align: center;
}

div,
p {
    padding: 10px;
}

li {
    list-style: none;
}

button {
    cursor: pointer;
}

.country-element {
    display: flex;
    justify-content: center;
    align-items: center;
}

.flag {
    border: 1px solid black;
}
