/* common */
*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.App {
    text-align: center;
}

div,
p {
    padding: 10px;
}

li {
    list-style: none;
}

button {
    cursor: pointer;
}

input {
    margin-left: 10px;
}

input:hover {
    box-shadow: 1px 1px 10px rgb(218, 218, 218);
    border: 2px solid grey;
}

/* phonebook app */
.persons {
    display: flex;
    justify-content: center;
    align-items: center;
}

.delete {
    padding: 5px;
    border-radius: 5px;
}
.delete:hover {
    background-color: red;
    color: white;
}
.delete:active {
    transform: scale(1.1);
}

.notification {
    background-color: rgb(20, 68, 20);
    border: 1px solid lightgreen;
    border-radius: 10px;
    color: white;
    box-shadow: 1px 1px 10px green;
}

.notification.error {
    background-color: rgb(172, 81, 81);
    border: 1px solid red;
    box-shadow: 1px 1px 10px red;
}

.add-btn {
    padding: 10px;
    width: 30%;
    font-weight: bold;
    background-color: white;
    border-radius: 10px;
}

.add-btn:hover {
    background-color: lightgrey;
}

.add-btn:active {
    transform: scale(0.9);
}

/* flags app */
.country-element {
    display: flex;
    justify-content: center;
    align-items: center;
}

.flag {
    border: 1px solid black;
}
